
<div class="col-md-8 col-sm-11 content-left row-fluid" style="margin-bottom: 15px;">
    <div class="row">
        <div class="row centralizeItens">
            <div class="col-sm-1">
                <img src="~/images/produtos/ico-vida-transparente.png" width="64">
            </div>
            <div class="col-sm-8">
                <span class="va-sub col-md-12" id="NomeProdutoComercial">@Model.ProdutoComercial.Nome</span>
                <span id="statusCotacao" class="textBlue va-sub col-md-12">STATUS: @(Model.Status == null ? "EM COTAÇÃO" : Model.Status.Descricao)</span>
            </div>
            <div class="col-sm-3 ge corner filial">
                <label-premio-nl class="mb-3 mt-1">Filial:</label-premio-nl><label-premio-nl class="textBlue mb-3 mt-1">@Model.Filial?.Descricao</label-premio-nl>
                <br>
                <label-premio-nl class="mb-3 mt-1">N° Cotação:</label-premio-nl><label-premio-nl id="numeroCotacao" class="textBlue mb-3 mt-1">@(Model._id == null ? "0" : Model._id.ToString())</label-premio-nl>
                <br>
                <label-premio-nl id="textApolice" class="mb-3 mt-1">N° Apolice:</label-premio-nl><label-premio-nl id="numeroApolice" class="textBlue mb-3 mt-1">@(Model.PropostaEmissao.NumeroApolice == null ? "0" : Model.PropostaEmissao.NumeroApolice)</label-premio-nl>
            </div>

        </div>
    </div>
</div>

<div class="col-md-8 col-sm-11 content-left row-fluid">
    <div class="row">
        <nav id="headerTabs">
            <ul class="nav nav-tabs">
                <li id="tab_cotacao" class="active"><a href="#cotacao" data-toggle="tab">Cotação</a></li>
                <li id="tab_analiseRisco"><a href="#analiseRisco" data-toggle="tab">Análise de Risco</a></li>
                <li id="tab_orcamento"><a href="#orcamento" data-toggle="tab">Orçamento</a></li>
                <li id="tab_aceitacao"><a href="#aceitacao" data-toggle="tab">Carta Oferta</a></li>
                <li id="tab_emissao"><a href="#emissao" data-toggle="tab">Emissão</a></li>
            </ul>
        </nav>
    </div>
</div>


<script>
    $("#tab_cotacao").click(function () {
        hideAllMenus();
        $("#menuTabCotacao").show();
    });

    $("#tab_analiseRisco").click(function () {
        hideAllMenus();
        $("#menuTabAnaliseRisco").show();
        $(function () {
            if (cotacao._id) {
                window.AnaliseDeRiscoFunctions.initialize(function () {
                    window.AnaliseDeRiscoUi.initialize();
                });
                window.AnaliseDeRiscoEvents.initialize();

                window.RelatoriosAnaliseDeRiscoUi.initialize();
            }
        });
    });

    $("#tab_orcamento").click(function () {
        hideAllMenus();
        $("#menuTabOrcamento").show();
        $(function () {
            if (cotacao._id) {
                window.DadosOrcamentoFunctions.initialize(function () {
                    window.DadosOrcamentoUi.initialize();
                });
                window.AceitacaoFunctions.initialize(function () {
                    window.AceitacaoUI.initialize();
                });
            }
        });
    });

    $("#tab_aceitacao").click(function () {
        hideAllMenus();
        $("#menuTabAceitacao").show();
        $(function () {
            if (cotacao._id) {
                window.DadosCartaOfertaFunctions.initialize(function () {
                    window.DadosCartaOfertaUi.initialize();
                });

                window.CosseguroCedidoUI.popularCosseguroCedido();
            }
        });
    });

    $("#tab_emissao").click(function () {
        hideAllMenus();
        $("#menuTabEmissao").show();
        $(function () {
            if (cotacao._id) {
                window.DadosEmissaoFunctions.initialize(function () {
                    window.DadosEmissaoUi.initialize();
                });

                window.DadosEstipulanteFunctions.initialize(function () {
                                window.DadosEstipulanteUi.initialize();
                });

                window.DadosSubEstipulanteFunctions.initialize(function () {
                    window.DadosSubEstipulanteUi.initialize();
                });

                window.FavorecidosComissionamentoFunctions.initialize(function () {
                    window.FavorecidosComissionamentoUi.initialize();
                });
            }
        });
    });

    function hideAllMenus() {
        $("#menuTabCotacao").hide();
        $("#menuTabAnaliseRisco").hide();
        $("#menuTabOrcamento").hide();
        $("#menuTabAceitacao").hide();
        $("#menuTabEmissao").hide();
    }
</script>